<h2>Gastos</h2>
<ul>
    <li *ngFor="let gasto of gastos">{{ gasto.descripcion }} ({{ gasto.valor }}) ({{ gasto.fecha }}) <button (click)="llenarFormulario(gasto)">Editar</button> <button (click)="eliminar(gasto)">Eliminar</button></li>
</ul>

<h3>Agregar Gasto</h3>
<input type="hidden" [(ngModel)]="id"  />
<input [(ngModel)]="descripcion" placeholder="Descripcion" />
<input type="number" [(ngModel)]="valor" placeholder="Valor" />
<input type="date" [(ngModel)]="fecha" placeholder="Fecha" />
Categoria
<select [(ngModel)]="categoria">
    <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}}</option>
  </select>
  
<button (click)="agregarGasto()">Añadir Gasto</button>