.full-width {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .full-width-table {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .section-title {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 24px;
  }
  
  .form-card {
    padding: 16px;
    margin-bottom: 24px;
  }
  
  .my-divider {
    margin: 24px 0;
  }
  
  mat-header-cell, mat-cell {
    padding: 12px;
  }
  
  mat-icon-button {
    margin-right: 8px;
  }
  